@inject MyShop.Web.Models.UserInfo user
@{
    ViewData["Title"] = "My products";
}

<div class="text-center">
    <h1 class="display-4">My products list</h1>

</div>
<div data-user-login="@user.Login" data-user-name="@user.Name" id="products-app-root"></div>

@section Scripts{
<script>
    window.user = @Html.Raw(Json.Serialize(user))
</script>
<script src="~/scripts/products.js"></script>
}